[run]
omit =
    ndindex/_version.py
    ndindex/tests/doctest.py
    ndindex/tests/test_no_dependencies.py
plugins = Cython.Coverage

[report]
exclude_lines =
    raise NotImplementedError
    pragma: no cover
    raise AssertionError
    except NotImplementedError:

# Require full coverage. Lines that cannot be covered can be added as regexes
# above, or excluded using # pragma: no cover
fail_under = 100
