Cython
furo
linkify-it-py
matplotlib @ git+https://github.com/asmeurer/matplotlib.git@output-base-name
myst-parser
packaging
scikit-image
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-reredirects
