Cython
furo
intersphinx-registry
linkify-it-py
matplotlib @ git+https://github.com/matplotlib/matplotlib.git
myst-parser
scikit-image
setuptools
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-reredirects
