Cython
furo
intersphinx-registry
linkify-it-py
matplotlib @ git+https://github.com/asmeurer/matplotlib.git@output-base-name
myst-parser
scikit-image
setuptools
sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-reredirects
