/* Make the title text in the sidebar bold */
.sidebar-brand-text {
    font-weight: bold;
}
/* Remove the underline from the title text on hover */
.sidebar-brand:hover {
    text-decoration: none !important;
}

:root {
    --color-brand-light-blue: #8DBEFE;
    --color-brand-green: #1EB881;
    --color-brand-medium-blue: #1041F3;
    --color-brand-dark-blue: #0D2B9C;

    --color-brand-bg: white;

    --color-sidebar-current: white;
    --color-sidebar-background-current: var(--color-brand-dark-blue);

}

@media (prefers-color-scheme: dark) {
    :root {
        --color-sidebar-background-current: var(--color-brand-dark-blue);
        --color-brand-bg: #05002A;
    }
}
[data-theme='dark'] {
    --color-sidebar-background-current: var(--color-brand-dark-blue);
    --color-brand-bg: #05002A;
}

/* Make top-level items in the sidebar bold */
.sidebar-tree .toctree-l1>.reference, .sidebar-tree .toctree-l1>label .icon {
    font-weight: bold !important;
}

/* Indicate the current page using a background color rather than bold text */
.sidebar-tree .current-page>.reference {
    font-weight: normal;
    background-color: var(--color-sidebar-background-current);
    color: var(--color-sidebar-current);
}
.sidebar-tree .reference:hover {
    color: white;
}

/* The "hide search matches" text after doing a search. Defaults to the same
   color as the search icon which is illegible on the colored background. */
.highlight-link a {
    color: white !important;
}

.admonition.warning>.admonition-title {
    color: white;
}

/* Disable underlines on links except on hover */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
/* Keep the underline in the announcement header */
.announcement-content a {
    text-decoration: underline;
}

/* Remove the background from code in titles and the sidebar */
code.literal {
    background: inherit;
}

/* Make "Warning" white */
.admonition.warning>.admonition-title {
    color: white;
}

/* Makes the text look better on Mac retina displays (the Furo CSS disables*/
/* subpixel antialiasing). */
body {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

/* Disable upcasing of headers 4+ (they are still distinguishable by*/
/* font-weight and size) */
h4, h5, h6 {
    text-transform: inherit;
}

/* Disable the fancy scrolling behavior when jumping to headers (this is too
   slow for long pages) */
html {
    scroll-behavior: auto;
}
